*{
    box-sizing: border-box;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: "Rubik","Arial",sans-serif;
    line-height: 22px;
    color: #4a4b4c;
    background-color:#fff;
}
img{
    max-width: 100%;
    height: auto;
}
*:focus{
    outline: 2px dashed #7296EC;
    outline-offset: 3px;
}

.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
.site-header-top {
    background-color:#f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
.site-header-top-container {
    display: flex;
    align-items: center;
}
.button{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 0;
    font-weight: 500;
    font-size: 16px; 
    border-radius: 10px;
    background-color: #7296EC;
    color: #fff;
    padding: 13px 20px;
    cursor: pointer;
    line-height: normal;
}
.button:hover{
    opacity: 0.8;
}
.button:active{
    opacity: 0.6;
}
.button-block{
    display: block;
    width: 100%;
    background-color: #eaeaea;
    color: #000 ;
}
.site-header-logo {
    display: flex;
    padding: 8px 6px;
    border-radius: 7px;
    margin-right: 35px;
    background-color:#fff;
}
.site-header-logo:hover{
    opacity: 0.8;
}
.site-header-logo:active{
    opacity: 0.6;
}

.dollar-kursi {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: auto;
}
.dollar-kursi-item:not(:last-child) {
    margin-right: 25px;
}
.dollar-kursi-type {
    color: #2959CE;
}
/* SEARCH */
.global-search-form-input{
    font-size: 14px;
    line-height: normal;
    border: 0;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 13px;
    padding-left: 40px;
    border-radius: 60px;
    margin-right: 25px;
}
.language {
    display: flex;
    padding: 3px;
    margin-right: 25px;
    border-radius:39px; 
    background-color: #dce6ff;
    
}
.lang-link {
    width: 30px;
    height: 30px;
    font-size: 13px;
    color: #a6a6a6;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}
.lang-link-active {
    background-color: #fff;
    color: #000;
}
/* SITENAV */
.sitenav {
    padding-top:16px ;
    padding-bottom: 16px;
    border-bottom: 1px solid #d1d1d1;
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
    margin-bottom: 40px;
}
.sitenav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;    
    list-style: none;
}
.sitevnav-item{
    margin-top: 4px;
    margin-bottom: 4px;
}
.sitevnav-item:not(:last-child){
    margin-right: 34px;
}
.sitenav-link{
    color: #7f7f7f;
    display: block;
    text-decoration: none;
}
.sitenav-link:hover{
    color: #7296EC;
}
.sitenav-link:active{
    opacity: 0.6;
}
.site-header-banner-link{
    display: flex;
}

/* MAIN-CONTENT */
.main-content{
    flex-grow: 1;
    padding-top: 50px;
}


/* NEWS-GRID */
.news-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}
.news-grid-item {
    width: 393px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.article-card {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: #f6f6f6;
    border-radius: 15px;
    padding: 20px 17px 15px;
}
.article-card-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}
.article-card-link {
    color: #000;
    text-decoration: none;
    display: inline-block;
}
.article-card-link:hover{
    color: #7296EC;
}
.article-card-link:active{
    opacity: 0.6;
}
.article-card-text {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
}
.article-card-img {
    display: block;
    width: 360px;
    height: 165px;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 10px;
}
.article-card-footer {
    display: flex ;
    align-items: center;
}
.article-card-source-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;

}
.article-card-source-time {
    font-size: 12px;
    line-height: normal;
    color: #5e5f61;
}


/* NOTIFICATION-CTA */
.notification-cta{
    width: 1050px;
    height: 100px;
    padding: 25px 70px 25px 25px;
    margin: 60px 75px;
    background-color: #ffd7ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.notification-cta-text{
    color: #000;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}
.notification-cta-button{
    background-color: #F78B3B;
    padding: 13px 30px;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}


.two-wrap-main-card{
    display: flex;
    align-items: flex-start;
}

/* GLOBAL-NEWS */
.global-news{
    width: 797px;
    margin-right: 10px;
}
.global-news-heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24PX;
    line-height: normal;
    color: #000;
    font-weight: 500;
}

.global-news-content{
        font-size: 26px;
        line-height: 36px;
        font-weight: 500;
        color: #000;
}
.global-news-content-img{
    margin-bottom: 20px;
}

.tesla-about-tought{
    font-size: 20px;
    line-height: 30px;
    color: #000;
    font-weight: 400;
    font-family: "Rubik","Arial",sans-serif;
}

.tesla-about-tought:not(:last-child){
    margin-bottom: 24px;
}


.news-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.news-list-item:not(:last-child){
    margin-bottom: 10px;

}


.article-card-horizontal {
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background-color: #f6f6f6;
}
.article-card-horizontal-img {
    width: 210px;
    height: 165px;
    margin-right: 15px;
    object-fit: cover;
    border-radius:10px;
}
.article-card-horizontal-content {
    flex-grow: 1;
}
.article-card-horizontal-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}
.article-card-horizontal-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.article-card-horizontal-link:hover{
    color: #7296EC;
}
.article-card-horizontal-link:active{
    opacity: 0.6;
}
.article-card-horizontal-text {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
}
.article-card-horizontal-icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 10px;
    border-radius:5px;
}
.article-card-horizontal-footer{
    margin-top: 0;
    margin-right: 5px;

}
.article-card-horizontal-time {
    padding-top: 5px;
    margin-top: 0;
    font-size: 12px;
    line-height: normal;
    display: flex;
    color: #5e5f61;
}
.article-card-horizontal{
    margin-top: 0;
}
.news-list-more-button{
    padding: 17px;
    border: none;
    border-radius: 10px;
    margin-bottom: 100px;
    font-weight: 500;
    color: #000;
}
.article-card-horizontal-text-footer{
    display: flex;
}


.two-wrap-sidebar{
    width: 393px;
    margin-top: 48px;
}


/* NEWS-TWO-CARD */
.two-news-card {
    background-color: #f6f6f6;
    color: #000;
    padding: 20px;
    border-radius: 15px;
}
.two-news-card-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}
.two-news-card-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.two-news-card-item {
    padding-top: 20px;
    padding-bottom: 20px;
}
.two-news-card-item:first-child{
    padding-top: 0;
}
.two-news-card-item:last-child{
    padding-bottom: 0;
}
.two-news-card-item:not(:last-child){
    border-bottom: 1px solid #d2d2d2;
}
.two-news-card-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.two-news-card-link {
    color: #000;
    text-decoration: none;
    display: inline-block;
}
.two-news-card-link:hover{
    color: #7296EC;
}
.two-news-card-link:active{
    opacity: 0.6;
}
.two-news-card-source-time {
    font-size: 13px;
    line-height: normal;
    color: #5e5f61;
}
.cardtop-news{
    margin-bottom: 10px;
}
.two-item-footer-img-link{
    width: 393px;
    height: 553px;
    border-radius: 15px;
}


/* SITE-FOOTER */

.site-footer{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 360px;
    background-color: #7297EF;
    color: #fff;
}
.site-footer *:focus{
    outline: 2px dashed #fff;
}
.site-footer-nav {
    display: flex;
    margin-bottom: 15px;
}
.site-footer-nav-link {
    display: flex;
}
.site-footer-nav-link:hover{
    opacity: 0.8;
}
.site-footer-nav-link:active{
    opacity: 0.6 ;
}
.site-footer-nav-img {
    width: 264px;
    height: 28px;

}
.site-footer-links {
    display: flex;
}
.site-footer-link {
    width: 230px;
    margin-right: 203px;
    font-size: 12px;
    line-height: 19px;
    font-family: "Rubik","Arial",sans-serif;
}
.site-footer-two-card-links {
    display: flex;
    flex-grow: 1;
}
.site-footer-two-card-links-ul {
    width: 50%;
    padding-left: 0;
    padding-right: 24px;
    margin: 0;
    list-style: none;
    font-weight: 500    ;
}
.site-footer-two-card-links-li:not(:last-child) {
    margin-bottom: 20px;
}
.site-footer-two-card-links-li-a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-family: "Rubik","Arial",sans-serif;
}
.site-footer-two-card-links-li-a:hover{
    text-decoration: underline;
}
.site-footer-grey-line {
    height: 1px;
    background-color: #CECECE;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
}
.site-footer-ended {
    display: flex;
    justify-content: space-between;
}
.site-footer-ended-heading {
    width: 161px;
    height: 46px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    font-family: "Rubik","Arial",sans-serif;
}
.site-footer-ended-list {
    display: flex;
    list-style: none;
}
.site-footer-ended-item:not(:last-child) {
    margin-right: 25px;
    
}

.site-footer-ended-img {
    width: 25px;
    height: 25px;
}



